testfull.csv filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
amendements-analyzer/backend/data/testfull.csv filter=lfs diff=lfs merge=lfs -text
